.btnClick {
    cursor: pointer;
    height: 40px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaryChatBlock;
    border-radius: 5px;
    margin: 5px;
    color: #aaaaaa;
}

.iconAlign {
    vertical-align: middle;
    margin-right: 5px;
}

.iconRight {
    float: right;
    margin-top: 7px;
}

.userTable {
    width: 100%;
    .utColumn {
        width: 100px;
    }
    .utColumnOption {
        width: 90px;
    }
}

.btnSub {
    width: 200px;
    cursor: pointer;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    background: #ffffff;
    font-size: 13px;
    padding: 8px;
    margin: 10px;
    border: 1px solid #ebebeb;
    .iconSub {
        float: right;
    }
}

.btnOption {
    width: 80px;
    cursor: pointer;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
    background: $primaryChatBlock;
    .iconSub {
        float: right;
    }
}

.btnAction {
    float: right;
    margin-top: -20px;
    margin-right: 30px;
    display: flex;
    .btnSend {
        margin-left: 10px;
    }
}


.fullWidth {
    width: 100%;
}

.upperDisplay {
    height: 20%;
    background: #f7f6f6;
}

.outerDisplay {
    display: flex;
    margin-bottom: 5px;
}

.dropDownList {
    height: 125px;
    overflow: auto;
    background: #ffffff;
    width: 200px;
    top: 44px;
    right: 0px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding-left: 5px;
    z-index: 11;
    margin: 10px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.label {
    font-size: 9px;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    padding: 8px;
    margin: 8px;
    color: #aaaaaa;
}

.link {
    color: #1d68a7;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.textAlign {
    margin: 10px;
    display: inline-block;
}

.textTrig {
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
}

.broadcastFilterCon {
    position: relative;
    background: $secondaryBackground;
    padding: 20px 30px;
    .dropDownList,
    .btnSub {
        margin: 10px 0;
        font-size: 12px;
        li {
            cursor: pointer;
        }
    }

    .btnSub {
        line-height: 26px;
    }
}

.broadcastCondition{
    height: $thirdStandardHeight;
    line-height: $thirdStandardHeight;
    display: block;
}

.bccHeading {
    height: $thirdStandardHeight;
    line-height: $thirdStandardHeight;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.bccCalender {
    @extend %inlineFlexCenter;
    @extend %inputboxBorder;
    background: $primaryBackground;
    height: $thirdStandardHeight;
    line-height: $thirdStandardHeight;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 40px;
    position: relative;
    cursor: pointer;
    .calendarPlugin {
        position: absolute;
        width: 100%;
        z-index: 11;
        input {
            visibility: hidden;
            opacity: 0.00001;
        }
    }
    .material-icons {
        position: absolute;
        top: 7.5px;
        right: 10px;
        font-size: 19px;
        color: $iconPrimary;
    }
}

.bccTime {
    @extend %inlineFlexCenter;
    height: $thirdStandardHeight;
    margin-right: 10px;
    .timeOptionCon input {
        width: 83px;
        height: $thirdStandardHeight;
        line-height: $thirdStandardHeight;
        border: 1px solid $borderPrimary;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: none;
        text-align: center;
    }
    .sddListCon {
        border-top: 1px solid $borderPrimary;
        border-right: 1px solid $borderPrimary;
        border-bottom: 1px solid $borderPrimary;
    }
}

.bccRepeat {
    @extend %inlineFlexCenter;
    line-height: $thirdStandardHeight;
    .sddListCon {
        @extend %inputboxBorder;
    }
}

.bccCalender,
.bccTime,
.bccRepeat {
    font-size: 12px;
    .sddListCon {
        font-size: 12px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
        height: $thirdStandardHeight;
        line-height: $thirdStandardHeight;
    }
}

.bccRepeat {
    .sddListCon {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

.dayPicker {
    margin-top: 15px;
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: inline-flex;
        overflow: hidden;
        background: $primaryBackground;
        @extend %boxBorder;
        li {
            padding: 8px;
            font-size: 12px;
            width: 40px;
            text-align: center;
            cursor: pointer;
            &.selectedDay {
                background: #3490dc;
                color: #fff;
            }
        }
    }
}

.broadcastRoot {
    overflow: auto;

    .attributeSelectorBox {
        margin-left: 0;
    }
}

.reachableUser {
    font-size: 12px;
    height: $secondStandardHeight;
    line-height: $secondStandardHeight;
    margin-bottom: 5px;
}

.broadcastScheduleListRoot {
    padding: 0;
    list-style: none;
    margin-top: 5px;
}

.broadcastScheduleList {
    a {
        height: $thirdStandardHeight;
        line-height: $thirdStandardHeight;
        margin-bottom: 10px;
        background: $secondaryBackground;
        border-radius: 5px;
        padding: 0 15px;
        color: #000;
        display: block;
        font-size: 12px;
    }
}

.broadcastHeading {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    figure {
        margin: -8px 10px 0 0;
        height: 18px;
        img {
            height: inherit;
        }
    }

    .material-icons {
        font-size: 16px;
        margin-right: 10px;
    }

    span {
        line-height: $secondStandardHeight;
        height: $secondStandardHeight;
        font-size: 14px;
        margin-bottom: 5px;
    }
}

.bcs {
    .btnClick {
        margin: 0;
    }
}

.activeBroadcast {
    color: $activeText!important;
    font-weight: bold;
}

.bccDuration {
    margin-left: 10px;
    input {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield;
    }
}

.triggerAttribute {
    display: flex;
    margin-left: 75px;
    margin-top: 10px;
    height: $thirdStandardHeight;
    line-height: $thirdStandardHeight;
    font-size: 12px;
    input {
        @extend %inputboxBorder;
        width: 200px;
        height: inherit;
        padding: 0 15px;
    }
    .sddListCon {
        @extend %flexJCenter;
        @extend %inputboxBorder;
        height: inherit;
        line-height: inherit;
        margin: 0 5px;
    }
}

.broadcastActionBtn {
    position: absolute;
    right: 0;
    bottom: -36px;
}

.statusBtn {
    @extend %flexJCenter;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background: #72bb53;
    &.deactiveStatus {
        background: #ffa834;
    }
    img {
        width: 24px;
    }
}

.spinnerSelectedValue {
    display: block;
    width: calc(100% - 24px);
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.broadcastRoot {
    .addMoreFilterButton {
        cursor: pointer!important;
        position: relative!important;
        right: 15px!important;
        margin-top: initial!important;
        top: 8px!important;
    }
}

$bcDateColumn: 170px;
$bcTypeColumn: 140px;
$bcCountColumn: 100px;

.broadcastHistoryList {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    .braodcastHistoryHeading,
    .braodcastHistory {
        @extend %flexJCenter;
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
    }
}

.bcDate {
    width: $bcDateColumn;
}

.bcType {
    width: $bcTypeColumn;
}

.bcCounts {
    width: $bcCountColumn;
}

.bcContent {
    width: calc(100% - #{$bcDateColumn+$bcTypeColumn+($bcCountColumn*4)});
}

.bchColumn {
    @extend %flexCenter;
    float: left;
    height: $standardHeight;
    line-height: $standardHeight;
}

.broadcastHistoryHeading,
.broadcastHistory {
    @extend %flexCenter;
    padding: 10px;
    font-size: 14px;
}

%broadcastHeight {
    height: 36px;
    line-height: 20px;
}

.broadcastHistory {
    height: 65px;
    margin-bottom: 10px;
    background: $secondaryBackground;
    border-radius: 5px;
    .bcDate {
        @extend %flexCenter;
        .bchIcon {
            @extend %flexJCenter;
            .material-icons {
                font-size: 20px;
            }
            
            figure {
                width: 20px;
                img {
                    width: 100%;
                }
            }
            
            margin-right: 5px;
        }
        
    }

    .bchPercentage,
    .bchTimestamp {
        @extend %flexCenter;
        @extend %broadcastHeight;
        align-items: baseline;
        flex-direction: column;
    }
}