.btnClick {
    cursor: pointer;
    height: 40px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaryChatBlock;
    border-radius: 5px;
    margin: 5px;
    color: #aaaaaa;
}

.iconAlign {
    vertical-align: middle;
    margin-right: 5px;
}

.userTable {
    width: 100%;
    .utColumn {
        width: 120px;
    }
    .utColumnOption {
        width: 100px;
    }
}

.bgSend {
    height: 150px;
    background: #f7f6f6;
}

.btnSub {
    width: 200px;
    cursor: pointer;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
    background: $primaryChatBlock;
    .iconSub {
        float: right;
    }
}

.align {
    float: left;
    margin: 10px;
}

.fullWidth {
    width: 100%;
}

.textArea {
    width: 260px;
    height: 334px;
    background: #f7f6f6;
    margin: 7px;
}

.textBox {
    width: 228px;
    height: 270px;
    background: #ffffff;
    margin: 7px;
}

.outerDisplay {
    display: flex;
}

.broadcastContentList {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        background: #f7f6f6;
        line-height: 40px;
        height: 40px;
        margin-bottom: 12px;
        padding: 0 12px;
        border-radius: 5px;
        cursor: pointer;
    }

    &.schedule {

    }
}


.broadcastFilterCon {
    background: $secondaryBackground;
    padding: 30px;
}

.broadcastCondition{
    height: $standardHeight;
    line-height: $standardHeight;
    display: block;
}

.bccHeading {
    height: $standardHeight;
    line-height: $standardHeight;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.bccCalender {
    @extend %inlineFlexCenter;
    background: $primaryBackground;
    border: 1px solid $borderPrimary;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0 10px;
    font-size: 12px;
    padding-right: 40px;
    position: relative;
    cursor: pointer;
    .calendarPlugin {
        position: absolute;
        width: 100%;
        z-index: 11;
        input {
            visibility: hidden;
            opacity: 0.00001;
        }
    }
    .material-icons {
        position: absolute;
        top: 7.5px;
        right: 10px;
        font-size: 19px;
        color: $iconPrimary;
    }
}