.chatBotHeading {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
}

.chatBlockHeading {
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    max-width: calc(100% - 40px);
    width: auto;
    float: left;
    border: none;
    &:focus {
        width: calc(100% - 40px);
        border: 1px solid $borderPrimary;
        border-radius: 5px;
        padding: 0 10px;
    }
}

.chatBlockControl {
    width: 40px;
    height: 30px;
    line-height: 30px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    button:hover {
        i {
            color: #000;
        }
    }
    i {
        font-size: 18px;
        cursor: pointer;
        color: $iconPrimary;
    }
}

.chatBlock {
    margin-bottom: 15px;
}

.contentRoot {
    overflow: auto;
    height: inherit;
}

.chatBlockContentList {
    display: flex;
    justify-content: unset;
    width: calc(100% + 10px);
    margin-left: -5px;
    flex-wrap: wrap;
}

.chatBlockContent {
    cursor: pointer;
    width: calc(100%/3 - 10px);
    height: 40px;
    max-height: 40px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaryChatBlock;
    border-radius: 5px;
    margin: 5px;
    padding: 0 6px;
    text-align: center;
    line-height: 15px;
    position: relative;
    &.addMore {
        color: $iconPrimary;
    }
    &:hover:not(.selectedBlock) {
        color: #c238eb;
        &.addMore:hover {
            color: $color8;
        }
    }
}

.blockOption {
    position: absolute;
    background: inherit;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    right: 0;
    display: flex;
    padding: 0 5px;
    align-items: center;
    color: #aaaaaa;
    &:hover {
        opacity: 1;
    }
    &.showOptions {
        opacity: 1;
    }
    i {
        font-size: 18px;
    }
}

.menuOption {
    position: absolute;
    z-index: 2;
    width: 80px;
    height: 30px;
    top: 45px;
    padding-top: 5px;
    color: #000000;
    background: #fff;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    &:hover {
        background: #e7e7e780;
    }
}

.errorAlert {
    width: 5px;
    height: 5px;
    background: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
}

.addMoreBlock {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    margin-top: 15px;
    color: #72bb53;
    font-size: 14px;
    outline: none;
    padding: 0;
    &:focus {
        outline: none;
    }
    i {
        margin-right: 5px;
        font-size: 18px;
    }
}

.closePopConfirm {
    position: absolute;
    top: 10px;
    right: 5px;
    background: transparent;
    border: none;
    opacity: 0.3;
    transition: opacity 60ms;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
    &:focus {
        outline: none;
    }
}

.delPopContent {
    padding: 45px 30px 30px 30px;
    .delPopHeading {
        font-size: 16px;
        line-height: 22px;
        .noticeList {
            font-weight: 300;
            font-size: 14px;
            margin-top: 20px;
            display: block;
        }

    }
    .listOfSection {
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
            display: inline;
            margin-right: 3px;
            font-size: 13px;
        }
        li::after {
            content: ", ";
        }
        li:last-child::after {
            content: "";
        }
    }
}

.delPopActionFooter {
    border-top: 1px solid #e2e2e2;
    .delPopActionCon {
        @extend %flexCenter;
        justify-content: space-around;
        height: $standardHeight;
        button {
            width: 50%;
            border: none;
            background: transparent;
            height: inherit;
            cursor: pointer;
            &:first-child {
                border-right: 1px solid #e2e2e2;
            }
            &:last-child {
                border-left: 1px solid #e2e2e2;
            }
        }
    }
}

.selectedBlock {
    background: $iconActive;
    color: $primaryBackground;
}

.selectedBlock:hover {
    color: none;
}

// tools

.contentBuilderWidget {
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.contentActionRoot {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid $borderPrimary;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.contentActionList {
    width: 85px;
    height: 70px;
    border-right: 1px solid $borderPrimary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:last-child {
        border-right: none;
    }
    cursor: pointer;
    i {
        color: $iconPrimary;
        font-size: 20px;
    }
    figure {
        img {
            height: 16px;
            opacity: 0.4;
        }
        &+.contentActionName {
            position: relative;
            top: -3px;
        }
    }
    .contentActionName {
        font-size: 12px;
        line-height: 20px;
        margin-top: 5px;
    }

}

.contentActionList:hover {
    i {
        color: $color8;
    }
    figure {
        img {
            opacity: 1;
        }
    }
}

.noContent {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #dbdbdb;
    i {
        font-size: 60px;
        margin-bottom: 10px;
    }
}

.contentActionMesg {
    color: $secondaryText;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
}

.componentTypeOne {
    padding-left: 30px;
    margin-bottom: 20px;
}

.sugContainer {
    padding: 5px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.sugBlockTitle {
    color: $secondaryText;
}

.sugBlockSec {
    margin-bottom: 10px;
}

.sugBlockSecTitle {
    padding-left: 20px;
    width: calc(100% + 10px);
    margin-left: -5px;
    white-space: initial;
    word-wrap: break-word;
    cursor: pointer;
    &:hover {
        background: $hoverBackground;
        color: #fff;
    }
}

.selectedBlockCon {
    margin-top: 10px;
}

.selectedLinkedBlock {
    position: relative;
    background: #e0e0e0;
    line-height: 28px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 5px;
    padding: 0 18px;
    max-width: 100%;
    width: auto;
    display: inline-block;
    .slbText {
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
    
    .slbDel {
        display: none;
        position: absolute;
        top: -2px;
        right: -2px;
        z-index: 11;
        left: initial;
        width: 20px;
        height: 20px;
        align-items: center;
        border-radius: 100%;
        background: $primaryBackground;
        border: 1px solid $borderPrimary;
        padding: 2px;
        cursor: pointer;
        .material-icons {
            font-size: 14px;
            color: $secondaryText;
        }
    }

    .componentDeleting {
        border-radius: inherit;
    }

    &:hover .slbDel {
        display: flex;
    }
}

.buttonActionGroup {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .buttonName {
        line-height: 15px;
        color: $themeColor;
        a {
            color: $themeColor;
        }
    }
    .buttonActionName {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: calc(100% - 20px);
        line-height: 10px;
        font-size: 11px;
        padding-top: 3px;
    }
}

.btnComponentTypeOne {
    position: absolute;
    top: 0;
    left: -15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px $borderPrimary;
    border: 1px solid $borderPrimary;
    background: #fff;
    min-width: calc(260px + 30px);
    z-index: 11;
    cursor: default;

    .buttonPopHeading {
        text-align: center;
    }

    .buttonPopInfo {
        margin: 0;
        line-height: 28px;
        height: 28px;
        font-size: 15px;
        color: $secondaryText!important;
    }

    input {
        position: relative;
        margin: 8px 0 0 0;
        display: inline-block;
        vertical-align: top;
        cursor: text;
        line-height: 28px;
        border-radius: 7px;
        padding: 0 10px;
        width: 175px;
        border: 1px solid $borderPrimary;
        font-size: 13px;
    }

    .actionInfo {
        padding-bottom: 10px;
        border-bottom: 1px solid $borderPrimary;
        width: calc(100% + 20px);
        margin-left: -10px;
    }

    .buttonOptions {
        padding: 0;
        list-style: none;
        display: flex;
        font-size: 12px;
        line-height: 30px;
        margin-bottom: 10px;
        li {
            padding-right: 10px;
            color: $secondaryText!important;
            cursor: pointer;
            .optionContent {
                border-bottom: 2px solid transparent;
            }

            &.activeOption .optionContent {
                color: #000;
                border-color: #000;
            }
        }
    }

    .buttonActions,
    .buttonValueCon {
        width: 100%;
    }

    .optionValue {
        position: relative;
        line-height: 20px;
        text-align: left;
        color: #000;
        font-size: 13px;

        input {
            width: 100%;
        }

        .sugContainer {
            margin-top: 15px;
        }
    }
}

.btnCon:not(:last-child) {
    border-bottom: 1px solid $borderPrimary
}

.btnCon {
    position: relative;
}

.btnCon,
.chatListRootButton,
.chatGalleryContainer,
.quickReplyCapsule,
.userInputCon,
.chatListButton {
    &:hover {
        .delIcon {
            visibility: visible;
            opacity: 1;
        }
    }
}

.chatListItem:hover .chatListItemDelIcon {
    visibility: visible;
    opacity: 1;
}

.conentItem {
    position: relative;
    &:hover {
        .optionSection {
            visibility: visible;
            opacity: 1;
        }
    }
    .optionSection {
        position: absolute;
        top: 0;
        left: 4px;
        visibility: hidden;
        opacity: 0;
        .deleteAction {
            @extend %flexJCenter;
            color: $iconPrimary;
            background: $iconActiveBackground;
            border: 1px solid $borderPrimary;
            border-radius: 3px;
            width: 22px;
            height: 22px;
            cursor: pointer;
            .material-icons {
                font-size: 18px;
            }
            .material-icons:hover {
                color: $defaultText;
            }
        }

        &.handle {
            top: 30px;
        }
    }
}

.builderSectionInfo {
    @extend %flexCenterJSB;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    height: $standardHeight;
    line-height: $standardHeight;
    input {
        border: none;
        padding: 0;
        height: inherit;
        line-height: inherit;
        &:focus {
            padding: 0 10px;
            border-radius: 5px;
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
            border: solid 1px rgba(0, 0, 0, 0.33) !important;
        }
    }

    .deleteAction {
        color: #aaaaaa;
        border-radius: 3px;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i {
            font-size: 18px;
        }
    }
}

.loadingConV1 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    border-radius: inherit;
}

.loadingInnerConV1 {
    height: 75px;
    width: 75px;
}

.creatingNewComponent {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    .loadingInnerConV1 {
        height: 40px;
        width: 40px;
    }
}

.componentDeleting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    z-index: 11;
    .deletingContainer {
        width: 70px;
        height: 70px;
        padding-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
    }
}

.inputConLimitWrapper {
    position: relative;
    input {
        &:focus + .limitGalleryTitle,
        &:focus + .limitListTitle {
            opacity: 1;
        }
    }
}

input.required {
    border-color: $red!important;
    color: $red!important;
}

input.required::placeholder {
    color: $red!important;
}

.horizontalDrag {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -100%;
    right: -100%;
    margin: 0 auto;
    width: 26px;
    cursor: pointer;
    .material-icons {
        transform: rotate(90deg);
    }
}

.horizontalDragCon {
    &:hover .horizontalDrag {
        visibility: visible;
        opacity: 1;
    }
}

.blockSectionTitleCon {
    position: relative;
    max-width: 80%;
    overflow: hidden;
    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 40px;
        height: $standardHeight;
        opacity: 0;

        &:focus {
            height: 100%;
            opacity: 1;
        }

        &:focus + .blockSectionTitleConBackgroundWidth {
            padding: 0 12px;
        }
    }
    
    .blockSectionTitleConBackgroundWidth {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 40px;
    }
}

.deletingImage {
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(50, 50, 50, 0.3);
    border-radius: inherit;
}

.processWarning {
    display: flex;
    background: $secondaryBackground;
    padding: 30px;
    margin-bottom: 30px;

    &.haveMargin {
        margin-top: 30px;
    }
    .noticIcon {
        color: $red;
        height: auto;
        height: 24px;
    }
    p {
        width: 100%;
        padding-left: 13px;
        margin: 0;
    }
}

@import './bots/text.scss';
@import './bots/typing.scss';
@import './bots/list.scss';
@import './bots/quick_reply.scss';
@import './bots/user_input.scss';
@import './bots/image.scss';
