.chatBotHeading {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
}

.chatBlockHeading {
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    width: calc(100% - 40px);
    float: left;
}

.chatBlockControl {
    width: 40px;
    height: 30px;
    line-height: 30px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    i {
        font-size: 18px;
        cursor: pointer;
        color: $iconPrimary;
    }
}

.chatBlock {
    margin-bottom: 15px;
}

.contentRoot {
    padding-top: 20px;
    overflow: auto;
    height: inherit;
}

.chatBlockContentList {
    display: flex;
    justify-content: unset;
    width: calc(100% + 10px);
    margin-left: -5px;
    flex-wrap: wrap;
}

.chatBlockContent {
    cursor: pointer;
    width: calc(100%/3 - 10px);
    height: 40px;
    max-height: 40px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaryChatBlock;
    border-radius: 5px;
    margin: 5px;
    padding: 0 6px;
    text-align: center;
    line-height: 15px;
    &.addMore {
        color: $iconPrimary;
    }
}

.addMoreBlock {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    margin-top: 15px;
    color: #72bb53;
    font-size: 14px;
    outline: none;
    padding: 0;
    &:focus {
        outline: none;
    }
    i {
        margin-right: 5px;
        font-size: 18px;
    }
}

.closePopConfirm {
    position: absolute;
    top: 10px;
    right: 5px;
    background: transparent;
    border: none;
    opacity: 0.3;
    transition: opacity 60ms;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
    &:focus {
        outline: none;
    }
}

.delPopContent {
    padding: 45px 30px 30px 30px;
    .delPopHeading {
        font-size: 16px;
        line-height: 22px;
        .noticeList {
            font-weight: 300;
            font-size: 14px;
            margin-top: 20px;
            display: block;
        }

    }
    .listOfSection {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            margin-right: 11px;
        }
        li::after {
            content: ",";
        }
        li:last-child::after {
            content: "";
        }
    }
}

.delPopActionFooter {
    border-top: 1px solid #e2e2e2;
}

.selectedBlock {
    background: $iconActive;
    color: $primaryBackground;
}


// tools

.contentBuilderWidget {
    padding-left: 30px;
    padding-bottom: 50px;
}

.contentActionRoot {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid $borderPrimary;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.contentActionList {
    width: 85px;
    height: 70px;
    border-right: 1px solid $borderPrimary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:last-child {
        border-right: none;
    }
    cursor: pointer;
    i {
        color: $iconPrimary;
        font-size: 20px;
    }
    .contentActionName {
        font-size: 12px;
        line-height: 20px;
        margin-top: 5px;
    }
}

.noContent {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #dbdbdb;
    i {
        font-size: 60px;
        margin-bottom: 10px;
    }
}

.contentActionMesg {
    color: $secondaryText;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
}

.componentTypeOne {
    padding-left: 30px;
    margin-bottom: 20px;
}

.sugContainer {
    padding: 5px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.sugBlockTitle {
    color: $secondaryText;
}

.sugBlockSec {
    margin-bottom: 10px;
}

.sugBlockSecTitle {
    padding-left: 20px;
    width: calc(100% + 10px);
    margin-left: -5px;
    cursor: pointer;
    &:hover {
        background: $hoverBackground;
        color: #fff;
    }
}

.selectedBlockCon {
    margin-top: 10px;
}

.selectedLinkedBlock {
    position: relative;
    background: #e0e0e0;
    line-height: 28px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 5px;
    padding: 0 18px;
    max-width: 100%;
    width: auto;
    display: inline-block;
    .slbText {
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
    
    .slbDel {
        display: none;
        position: absolute;
        top: -2px;
        right: -2px;
        z-index: 11;
        left: initial;
        width: 20px;
        height: 20px;
        align-items: center;
        border-radius: 100%;
        background: $primaryBackground;
        border: 1px solid $borderPrimary;
        padding: 2px;
        cursor: pointer;
        .material-icons {
            font-size: 14px;
            color: $secondaryText;
        }
    }

    .componentDeleting {
        border-radius: inherit;
    }

    &:hover .slbDel {
        display: flex;
    }
}

.buttonActionGroup {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .buttonName {
        line-height: 8px;
        color: $secondaryText;
    }
    .buttonActionName {
        line-height: 5px;
        font-size: 11px;
        padding-top: 6px;
    }
}

.btnComponentTypeOne {
    position: absolute;
    top: 0;
    left: -15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px $borderPrimary;
    border: 1px solid $borderPrimary;
    background: #fff;
    min-width: calc(260px + 30px);
    z-index: 11;
    cursor: default;

    .buttonPopHeading {
        text-align: center;
    }

    .buttonPopInfo {
        margin: 0;
        line-height: 28px;
        height: 28px;
        font-size: 15px;
        color: $secondaryText!important;
    }

    input {
        position: relative;
        margin: 8px 0 0 0;
        display: inline-block;
        vertical-align: top;
        cursor: text;
        line-height: 28px;
        border-radius: 7px;
        padding: 0 10px;
        width: 175px;
        border: 1px solid $borderPrimary;
        font-size: 13px;
    }

    .actionInfo {
        padding-bottom: 10px;
        border-bottom: 1px solid $borderPrimary;
        width: calc(100% + 20px);
        margin-left: -10px;
    }

    .buttonOptions {
        padding: 0;
        list-style: none;
        display: flex;
        font-size: 12px;
        line-height: 30px;
        margin-bottom: 10px;
        li {
            padding-right: 10px;
            color: $secondaryText!important;
            cursor: pointer;
            .optionContent {
                border-bottom: 2px solid transparent;
            }

            &.activeOption .optionContent {
                color: #000;
                border-color: #000;
            }
        }
    }

    .buttonActions,
    .buttonValueCon {
        width: 100%;
    }

    .optionValue {
        position: relative;
        line-height: 20px;
        text-align: left;
        color: #000;
        font-size: 13px;

        input {
            width: 100%;
        }

        .sugContainer {
            margin-top: 15px;
        }
    }
}

.btnCon:not(:last-child) {
    border-bottom: 1px solid $borderPrimary
}

.btnCon {
    position: relative;
}

.btnCon,
.chatListRootButton,
.chatGalleryContainer,
.quickReplyCapsule,
.userInputCon,
.chatListButton {
    &:hover {
        .delIcon {
            visibility: visible;
            opacity: 1;
        }
    }
}

.chatListItem:hover .chatListItemDelIcon {
    visibility: visible;
    opacity: 1;
}

.conentItem {
    position: relative;
    &:hover {
        .optionSection {
            visibility: visible;
            opacity: 1;
        }
    }
    .optionSection {
        position: absolute;
        top: 0;
        left: 4px;
        visibility: hidden;
        opacity: 0;
        .deleteAction {
            color: $iconPrimary;
            background: $iconActiveBackground;
            border: 1px solid $borderPrimary;
            border-radius: 3px;
            width: 22px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .material-icons {
                font-size: 18px;
            }
        }
    }
}

.builderSectionInfo {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    input {
        border: none;
        padding: 0 10px;
        &:focus {
            border-radius: 5px;
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
            border: solid 1px rgba(0, 0, 0, 0.33) !important;
        }
    }

    .deleteAction {
        color: #aaaaaa;
        border-radius: 3px;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i {
            font-size: 18px;
        }
    }
}

.loadingConV1 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    border-radius: inherit;
}

.loadingInnerConV1 {
    height: 75px;
    width: 75px;
}

.creatingNewComponent {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    .loadingInnerConV1 {
        height: 40px;
        width: 40px;
    }
}

.componentDeleting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    z-index: 11;
    .deletingContainer {
        width: 70px;
        height: 70px;
        padding-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
    }
}

@import './bots/text.scss';
@import './bots/typing.scss';
@import './bots/list.scss';
@import './bots/quick_reply.scss';
@import './bots/user_input.scss';
@import './bots/image.scss';