.pageListRootCon {
    padding: 15px 30px;
}

.pageList {
    list-style: none;
    padding: 15px 0;
}

.pageRoot {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 75px;
    padding: 15px;
    .pageImage {
        width: 50px;
        height: 100%;
        margin: 0;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .pageInfo {
        height: 100%;
        position: relative;
        width: 100%;
        padding-left: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        p {
            margin-bottom: 0;
        }
    }

    .pageAction {
        @extend %flexJCenter;
        height: 100%;
    }

    .connectedBtn {
        position: relative;
        .pageActionInfoCon {
            @extend %flexJCenter;
            color: $activeText;
            cursor: pointer;
        }

        .pageInfoActions {
            position: absolute;
            bottom: -25px;
            left: 0;
            margin: 0;
            padding: 0;
            background: #fff;
            border: 1px solid #e2e2e2;
            border-radius: 5px;
            list-style: none;
            li {
                padding: 5px 15px;
                cursor: pointer;
            }
        }
    }

    .connectBtn {
        cursor: pointer;
    }

    &.connectedPage {
        border: 1px solid $borderSecondary;
        border-radius: 5px;
    }
}

.configSidebarLink {
    height: 50px!important;
    margin-bottom: 10px!important;

    a {
        @extend %flexCenter;
        justify-content: flex-start;
        text-align: left;
        width: 100%;
        height: inherit;
        line-height: inherit;
        width: 100%;
        padding: 0 15px;
        font-size: 14px;
        color: $secondaryText;
        &.activeSetting {
            color: $activeText;
            font-weight: bold;
        }
    }
    &:hover {
        a {
            color: $color1;
        }
    }
}

.adminInviteForm {
    width: 350px;
    background: $primaryBackground;
    @extend %boxBorder;
    padding: 15px 30px;
}

.ultWrapper {
    @extend %flexJCenter;
    height: inherit;
    float: left;
    padding-right: 15px;
    figure {
        @extend %flexJCenter;
        height: inherit;
        overflow: hidden;
        margin-right: 10px;
        img {
            height: calc(100% - 10px);
            border-radius: 3px;
            background-origin: 1px solid $borderPrimary;
        }
    }
}

.adminHeadingCon {
    @extend %flexCenterJSB;
    margin-bottom: 15px;
    h5 {
        margin: 0;
    }
    .adminHeadingAction {
        .inviteMemberButton {
            @extend %flexJCenter;
            border: none;
            background: transparent;
            color: $actionBtn1;
            cursor: pointer;

            .material-icons {
                font-size: 18px;
                margin-right: 5px;
            }

            &:focus,
            &:active {
                outline: none;
            }
        }
    }
}

.activeMSection {
    font-weight: bold;
    color: $activeText;
}

.sectionList {
    @extend %flexCenter;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    li {
        height: $standardHeight;
        line-height: $standardHeight;
        &:not(.sectionSeparator) {
            cursor: pointer;
        }
    }
}

.sectionSeparator {
    padding: 0 10px;
}

.persistentMenuCon {
    background: $secondaryBackground;
    width: calc(50% - 30px);
    border: 1px solid $borderPrimary;
    padding: 15px;
    margin-right: 30px;
    margin-top: 15px;
    float: left;
    .menuHeading {
        border-bottom: 1px solid $borderPrimary;
        line-height: $standardHeight;
        height: $standardHeight;
        font-size: 15px;
    }
    .persistentMenuComponent {
        position: relative;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        border-bottom: 1px solid $borderPrimary;
        &:hover {
            .delIcon{
                visibility: visible;
                opacity: 1;
                top: 15px;
                right: -15px;
            }
        }
    }
    .persistentMenuAction {
        @extend %flexCenter;
        cursor: pointer;
        .persistentMenuName {
            padding-right: 10px;
        }
    }
    .pmnSubContent {
        @extend %flexCenter;
        height: 50px;
        line-height: 50px;
        font-size: 13px;
        color: $secondaryText;
        cursor: pointer;
    }
    .persistentRootCon {
        @extend %flexCenter;
        justify-content: space-between;
    }
}

.persistentMenuRoot {
    // display: flex;
}

.menuSubHeading {
    @extend %flexCenter;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid $borderPrimary;
    position: relative;
    .backNavigate {
        @extend %flexJCenter;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 1000;
        cursor: pointer;
        .material-icons {
            font-size: 35px;
        }
    }
    .parentName {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
    }
}

.addPersistentMenuBtn {
    height: 50px;
    line-height: 50px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    .material-icons {
        font-size: 18px;
        position: relative;
        top: -1px;
    }
}