.chatSbHeaderOption {
    display: block;
    width: 100%;
    height: $standardHeight;
}

.chatFilterList {
    height: $standardHeight;
    line-height: $standardHeight;
    
    .inboxOptionTitle {
        line-height: inherit;
        font-weight: bold;
        font-size: 18px;
        float: left;
        display: block;
        padding-right: 5px;
    }
    
    .inboxOptionSelector {
        float: left;
        display: block;
        height: inherit;
        position: relative;
        .inboxSelectedOption {
            line-height: inherit;
            height: inherit;
            .inboxSelectedOptionValue {
                font-size: 18px;
                color: $inboxSelected;
                line-height: inherit;
                height: inherit;
                display: block;
                float: left;
            }
            .inboxFilterOptionIcon {
                line-height: inherit;
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                float: left;
                cursor: pointer;
            }
        }
        .inboxOptionsCon {
            position: absolute;
            top: 37px;
            right: 0;
            z-index: 11;
            background: #fff;
            border: 1px solid $borderPrimary;
            border-radius: 5px;
            ul {
                list-style: none;
                margin: 0;
                padding: 5px 10px;
                li {
                    cursor: pointer;
                }
            }
        }
    }
}

.chatFilterAction {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $standardHeight;
    width: 50px;
    div {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .material-icons {
            font-size: 18px;
            cursor: pointer;
        }
        img {
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
    }
    div:last-child {
        padding-left: 5px;
    }
}

.availableUserList {
    width: calc(100% + 60px);
    display: block;
    margin-left: -30px;
    .userBriefCon {
        padding: 10px 30px;
        display: flex;
        position: relative;
        &:hover,
        &.selected {
            background: $inboxHover;
            .userBriefName {
                color: $iconActive;
            }
        }

        &.selected:after {
            content: "";
            height: 100%;
            width: 8px;
            background: $iconActive;
            position: absolute;
            top: 0;
            right: 0;
        }

        .userBriefImageCon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            float: left;
            height: 47px;
            &:hover {
                cursor: pointer;
            }
            .userBriefImage {
                width: 40px;
                height: 40px;
                border-radius: 100%;
            }
        }

        .userBriefInfoCon {
            width: calc(100% - 40px);
            float: left;
            height: 47px;
            overflow: hidden;
            .userBriefContentCon {
                height: inherit;
                padding-left: 8px;
                padding-right: 15px;
                width: calc(100% - 50px);
                float: left;
                &:hover {
                    cursor: pointer;
                }
                .userBriefName {
                    height: 20px;
                    line-height: 20px;
                    display: block;
                    font-weight: bold;
                    font-size: 14px;
                }
                .userBriefLastMesg {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    height: 18px;
                    white-space: nowrap;
                    width: 100%;
                    font-size: 12px;
                }
            }

            .userBriefActionCon {
                display: inline-flex;
                float: right;
                height: inherit;
                width: 50px;
                justify-content: center;
                align-items: center;
                div {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .material-icons {
                        font-size: 18px;
                        cursor: pointer;
                    }
                    img {
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

$attributePanelWidth: 336px;

.chatInfoPanel {
    width: calc(100% - #{$attributePanelWidth});
    height: inherit;
    overflow: auto;
    float: left;
    border-right: 1px solid $borderPrimary;

    .chatHisCon {
        height: calc(100% - 60px);
        overflow: auto;
        border-bottom: 1px solid $borderPrimary;
        padding: 15px 30px;
        position: relative;

        .chatContentCon {
            display: flex;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 60px;
            }
            &.sender {
                flex-direction: row-reverse;
            }
            .chatImage {
                width: 25px;
                height: 25px;
                img {
                    width: inherit;
                    height: inherit;
                    border-radius: 100%;
                }
            }
            .chatContent {
                max-width: calc(100% - 120px);
                padding: 0 15px;
                .componentTypeOne {
                    overflow: auto;
                }
                .chatContentBody {
                    background: $primaryChatBackground;
                    padding: 10px 20px;
                    border-radius: 20px;
                    figure {
                        max-width: 100%;
                        margin: 0;
                        img {
                            max-width: 100%;
                        }
                    }
                    
                    > figure {
                        padding: 15px 0;
                    }
                }

                img {
                    max-width: 100%;
                    border-radius: 5px;
                }
            }
        }

        .liveChatButton {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 10px;
            height: 30px;
            font-size: 13px;
            float: right;
            border: 1px solid $actionBtn1;
            border-radius: 5px;
            position: fixed;
            bottom: 70px;
            right: 375px;
            cursor: pointer;

            img {
                width: 16px;
                height: 16px;
                margin-right: 10px;
            }

            &.startLiveChat {
                background: $actionBtn1;
                color: #fff
            }

            &.stopLiveChat {
                background: #fff;
            }

            .material-icons {
                font-size: 16px;
                margin-right:10px;
            }
        }
    }

    .chatInputCon{
        height: 60px;
        width: 100%;
        .chatInputMesgBox {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% - 65px);
            height: 100%;
            padding-left: 30px;
            float: left;
            input {
                width: 100%;
                border-radius: 5px;
                padding: 3px 10px;
                border: none;
                &:focus {
                    border: 1px solid #e2e2e2;
                }
            }
        }
        .chatInputEmoji {
            display: flex;
            float: right;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 65px;
            i {
                font-size: 30px;
                color: $secondaryText;
                cursor: pointer;
            }
        }
    }
}

.attributePanel {
    width: $attributePanelWidth;
    height: inherit;
    overflow: auto;
    float: left;
    background: $secondaryBackground;
    .attributeHeading {
        padding: 15px 30px 5px;
        .attributeOwnerName {
            height: $standardHeight;
            line-height: $standardHeight;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .attributeTableRoot {
        padding:  0 30px 15px 30px;
    }

    .attributeTable {
        width: 100%;
        margin-bottom: 15px;

        tr {
            border-bottom: 4px solid transparent;
        }

        thead {
            .attrTitle,
            .attrValue {
                font-size: 14px;
                color: $secondaryText;
            }
        }

        .attrTitle,
        .attrValue {
            height: $tableStandardHeight;
            line-height: $tableStandardHeight;
            font-size: 12px;
        }

        tbody {
            .attrTitleWrapper {
                background: #fff;
                border-radius: 5px;
                height: 30px;
                line-height: 30px;
                padding: 0 7px;
                display: inline-block;
            }
        }

        .attrTitle {
            width: 154px;
        }

        .attrValue {
            width: calc(100% - 154px);
        }
    }
}