.floatingLoading {
    @extend %flexJCenter;
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: rgba(0,0,0,0.6);
    z-index: 111;
    top: 0;
    left: 0;
}

.popFixedContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.1);
    z-index: 111;
}

.popFixedCenter {
    @extend %flexJCenter;
}

$userPopFooter: 60px;
.userAttributePop {
    height: 90vh;
    background: #fff;
    max-height: 550px;
    width: 500px;
    border-radius: 5px;
    &.filterAttribute {
        width: 700px;
    }
    &.saveToSegmentPop {
        height: 180px;
        .segmentTitleInput {
            width: calc(100% - 110px);
        }
    }
    .uaBodyCon {
        height: calc(100% - #{$userPopFooter});
        overflow: auto;
        padding: 20px;
        .uaTitle {
            margin-bottom: 20px;
        }
        .uaTable {
            padding: 0 15px;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            td,th {
                width: 50%;
                height: $standardHeight;
                line-height: $standardHeight;
            }
            .attrTitle,
            .attrValue {
                position: relative;
                input {
                    border: none;
                    &.newAttribute,
                    &:focus {
                        border: 1px solid $borderPrimary;
                        height: 36px;
                        line-height: 36px;
                        border-radius: 5px;
                        padding: 0 10px;
                    }
                }
            }

            .attrDel {
                @extend %flexJCenter;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 5px;
                right: -28px;
                border: 1px solid $borderPrimary;
                width: 30px;
                height: 30px;
                border-radius: 5px;
                cursor: pointer;
                .material-icons {
                    font-size: 20px;
                }
            }

            .attrRow:hover {
                .attrDel {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .uaFooterCon {
        @extend %flexCenter;
        height: $userPopFooter;
        border-top: 1px solid $borderPrimary;
        padding: 0 15px;
        justify-content: space-between;
        button {
            margin: 0;
        }
    }
}

.alignAttribute {
    .attributeSelector {
        width: 100%;
        margin-left: -15px;
    }
    .attrSelector {
        width: 150px;
        .optionSpinner {
            width: 100%;
        }
        .attrSelInput {
            width: 100%;
        }
    }
    .attrSelectorOption {
        width: 80px;
        .optionSpinner {
            width: 100%;
        }
    }
    .deleteAttribute {
        right: -108px;
    }
    .addMoreFilterButton {
        float: right;
        position: relative;
        top: -50px;
        right: -10px;
        margin-top: 0px;
    }
}

.popContainer {
    form {
        .formHeading {
            @extend %flexCenter;
            justify-content: space-between;
            height: $standardHeight;
            line-height: $standardHeight;
            margin-bottom: 5px;
            h5 {
                height: inherit;
                line-height: inherit;
                font-size: 15px;
                font-weight: bold;
                margin: 0;
                padding: 0;
            }
            button {
                @extend %flexJCenter;
                margin: 0;
                padding: 0;
                background: transparent;
                border: none;
                cursor: pointer;
                .material-icons {
                    font-size: 20px;
                }
            }
        }

        label {
            width: 100%;
            span {
                display: block;
                height: $standardHeight;
                line-height: $standardHeight;
                width: 100%;
            }
            select,
            input {
                @extend %standardInput;
                width: 100%;
            }
        }

    }
}

.popProcessing {
    @extend %flexJCenter;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    color: #fff;
}