.navList {
    height: 64px;
    width: 100%;
    margin-top: 1%;
}

.navIcon {
    width: 10%;
    height: 10%;
    margin-left: 42px;
    cursor: pointer;
}

.navUser {
    float: right;
    margin-top: -35px;
    margin-right: 20px;
    cursor: pointer;
}

.userIcon {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 8px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.bodyList {
    width: 100%;
    height: calc(100vh - 64px);
    overflow: auto;
    background: #ebebeb;
    display: inline-block;
    .titleHeight {
        height: 20%;
    }
}

.titleList {
    cursor: pointer;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaryChatBlock;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 40px;
    color: $color1;
}

.outerCardList {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
}

.cardList {
    display: block;
    width: 40px;
    height: 300px;
    border-radius: 8px;
    min-width: 200px;
    max-width: 280px;
    position: relative;
    margin-left: 40px;
    background: #ffffff;
    margin-bottom: 30px;
    .addIcon {
        height: 140px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .material-icons {
            color: white;
            cursor: pointer;
            font-size: 50px;
        }
    }
    
    .btnProject {
        height: 60px;
        display: flex;
        font-size: 18px;
        cursor: pointer;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        align-items: flex-end;
        justify-content: center;
    }
}

.addBgColor {
    background: $color1;
}

.projectName {
    color: #000000;
}

.createProject {
    .popFixedContainer {
        .userAttributePop {
            max-height: 200px;
            background: #f5f6f7;
        }
        .filterAttribute {
            width: 350px;
        }
    }
}

.createProjectNav {
    background-color: #f5f6f7;
    border-bottom: 1px solid #e5e5e5;
    line-height: 41px;
    display: flex;
    border-radius: 5px;
    .createTitle {
        margin-left: 10px;
        font-weight: bold;
    }
}

.projectInputName {
    margin: 30px;
    .inputName {
        width: 290px;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
    }
}

.alignBtn {
    display: flex;
    float: right;
    margin-right: 20px;
    .createBtn {
        width: 60px;
        margin-right: 10px;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
        background: #ffffff;
        color: #c238eb;
        cursor: pointer;
    }
}