.profileImageCon {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid $borderPrimary;
    border-radius: 100%;
    img {
        width: 100%;
        height: 100%;
    }
    label {
        @extend %flexJCenter;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.4);
        visibility: hidden;
        cursor: pointer;
        input {
            display: none;
        }
        .material-icons {
            font-size: 30px;
            color: #fff;
        }
    }
    &:hover {
        label {
            visibility: visible;
        }
    }
}

.profileInput {
    input {
        @extend %boxBorder;
        height: 36px;
        padding: 10px;
        font-size: 13px;
        width: 300px;
    }
}

.profileInputCon {
    margin-bottom: 15px;
}

.btnTypeOne {
    height: 36px;
    display: inline-block;
    background: $actionBtn1;
    color: #fff;
    border: 1px solid $actionBtn1;
    border-radius: 5px;
    line-height: 36px;
    cursor: pointer;
    padding: 0 30px;
    position: relative;
    overflow: hidden;
}

.btnTypeTwo {
    height: 36px;
    background: transparent;
    color: $actionBtn1;
    border: 1px solid $actionBtn1;
    border-radius: 5px;
    line-height: 36px;
    cursor: pointer;
    padding: 0 30px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}