.navList {
    height: 64px;
    width: 100%;
}

.navIcon {
    width: 24px;
    height: 24px;
    margin-top: 15px;
    margin-left: 42px;
    cursor: pointer;
}

.navUser {
    float: right;
    margin-top: -35px;
    margin-right: 20px;
    cursor: pointer;
}

.userIcon {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 8px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.bodyList {
    width: 100%;
    height: 600px;
    background: #ebebeb;
    display: inline-block;
    .titleHeight {
        height: 20%;
    }
}

.titleList {
    cursor: pointer;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaryChatBlock;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 40px;
    color: $color1;
}

.outerCardList {
    display: flex;
}

.cardList {
    display: block;
    width: 40px;
    height: 300px;
    border-radius: 8px;
    min-width: 200px;
    max-width: 280px;
    position: relative;
    margin-left: 40px;
    background: #ffffff;
    .addIcon {
        height: 140px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .material-icons {
            color: white;
            cursor: pointer;
            font-size: 50px;
        }
    }
    
    .btnProject {
        height: 60px;
        align-items: flex-end;
        display: flex;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
        color: #ffffff;
        font-weight: bold;
    }
}

.addBgColor {
    background: $color1;
}

.projectName {
    color: #000000;
}