#loginContent {
    width: 100vw;
    height: 100vh;
    background: #e2e2e2;
    overflow: hidden;
    display: flex;
}

#sideMenu {
    width: $sidebarWidth;
    height: inherit;
    background: #ffffff;
    position: relative;
    z-index: 11;
    #sideNav {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            width: $sidebarWidth;
            height: $sidebarWidth;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $iconPrimary;
            text-decoration: none;
            position: relative;
            .material-icons {
                font-size: 28px;
            }
            .imgIcon {
                display: block;
            }
            .activeIcon {
                display: none;
            }
            &.activeSection,
            &:hover {
                color: $iconActive;
                background: $iconActiveBackground;
                .imgIcon {
                    display: none;
                }
                .activeIcon {
                    display: block;
                }
            }
            &:hover {
                .icon-label {
                    visibility: visible;
                    opacity: 1;
                }
            }
            figure {
                @extend %flexJCenter;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                img {
                    width: 30px;
                }
            }
            .icon-label {
                position: absolute;
                top: 24px;
                right: 0;
                text-align: left;
                display: inline-table;
                // min-width: 100%;
                background: #fff;
                padding: 0 10px 0 10px;
                border: 1px solid #e2e2e2;
                font-size: 13px;
                height: 25px;
                line-height: 25px;
                border-radius: 5px;
                left: 82px;
                visibility: hidden;
                opacity: 0;
                transition: 300ms opacity;
                white-space: nowrap;
                &::before {
                    content: "";
                    position: absolute;
                    height: 10px;
                    background: #fff;
                    border-left: 1px solid #e2e2e2;
                    left: -5px;
                    width: 10px;
                    transform: rotate(45deg);
                    top: 7.68px;
                    border-bottom: 1px solid #e2e2e2;
                }
            }
        }
    }
}


#mainContent {
    width: calc(100% - #{$sidebarWidth});
    height: inherit;
    border-left: 1px solid $borderPrimary;
}

#headerContent {
    width: 100%;
    height: $headerHeight;
    background: $primaryBackground;
    display: flex;
    align-items: center;
    justify-content: center;
    .headerSidebar {
        height: inherit;
        width: $sidebarControlWidth;
        line-height: $headerHeight;
        border-right: 1px solid $borderPrimary;
        padding: 0 30px;
        .projectInfoContainer {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: space-around;
            height: 40px;
            margin-top: 18px;
        }
        .projectIconWrapper {
            height: 34px;
            width: $ProjectIconWidth;
            margin: 0;
            .projectIcon {
                height: inherit;
                width: inherit;
                float: left;
            }
        }
        .projectInfo {
            width: calc(100% - #{$ProjectIconWidth+$ProjectNavWidth});
            padding-left: 20px;
            .projectName {
                font-weight: bold;
                line-height: 24px;
                font-size: 14px;
                margin: 0;
            }
            .projectVendor {
                margin: 0;
                font-size: 12px;
                line-height: 16px;
                font-style: italic;
                color: #aaaaaa;
                a {
                    color: inherit;
                    text-decoration: underline;
                }
            }
        }
        .projectNavControl {
            width: $ProjectNavWidth;
        }
    }
    .headerConent {
        width: calc(100% - #{$sidebarControlWidth});
        height: inherit;
        line-height: $headerHeight;
        border-bottom: 1px solid $borderPrimary;
        padding: 0 15px;
    }
}

#innnerContent {
    height: calc(100% - #{$headerHeight});
    background: $primaryBackground;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .bodySidebar {
        height: 100%;
        width: $sidebarControlWidth;
        border-right: 1px solid $borderPrimary;
        padding: 15px 30px;
        overflow: auto;
    }
    .bodyContent {
        width: calc(100% - #{$sidebarControlWidth});
        height: 100%;
        &.fullWidthContent {
            width: 100%;
            position: relative;
            .sidebarPlacementBorder {
                position: absolute;
                top: -1px;
                left: 0;
                width: $sidebarControlWidth;
                height: 1px;
                background: $borderPrimary;
            }
        }
    }
}

.popupContainer {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: auto;
    .defPopCon {
        width: 400px;
        background: $primaryBackground;
        border-radius: 5px;
        position: relative;
    }
}

.inheritWH {
    width: inherit;
    height: inherit;
}

.inheritHFW {
    width: 100%;
    height: inherit;
}

.ovAuto {
    overflow: auto;
}

.noborder {
    border: none!important;
}

.delIcon {
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 11;
    left: initial;
    width: 20px;
    height: 20px;
    align-items: center;
    border-radius: 100%;
    background: $primaryBackground;
    border: 1px solid $borderPrimary;
    padding: 2px;
    cursor: pointer;
    .material-icons {
        font-size: 14px;
        color: $secondaryText;
        &:hover {
            color: $defaultText;
        }
    }
}

a,
a:hover {
    text-decoration: none;
}

.headingOne {
    font-size: 18px;
    height: $standardHeight;
    line-height: $standardHeight;
}

.divider20 {
    height: 20px;
}

.defaultBtn {
    height: $standardHeight;
    line-height: $standardHeight;
    padding: 0 25px;
    border-radius: 5px;
    border: 1px solid $themeColor;
    background: $themeColor;
    color: #fff;
    cursor: pointer;
}

.hideBottomRadius {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.hoverCursor {
    cursor: pointer;
}

.reddot {
    width: 5px;
    height: 5px;
    background: #ff0000;
    border-radius: 50%;
    position: absolute;
    margin-left: 50px;
}

.addProject {
    width: 100%;
    cursor: pointer;
    height: 40px;
    max-height: 40px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaryChatBlock;
    border-radius: 5px;
    margin: 5px;
    padding: 0 6px;
    text-align: center;
    line-height: 15px;
    color: $iconPrimary;
}