.userListRoot {
    padding: 15px $standardContentPadding;
}

.filterButton {
    height: $standardHeight;
    line-height: $standardHeight;
    font-size: 14px;
    float: right;
    cursor: pointer;
}

.userListTable {
    width: 100%;
    .ultDateColumn {
        width: 110px;
    }

    .utlSessinColumn {
        width: 80px;
    }

    // .utlGenderColumn {
    //     width: 80px;
    // }

    .utlCheckColumn {
        width: 50px;
    }

    .ultWrapper {
        height: $standardHeight;
        line-height: $standardHeight;
        font-size: 14px;
    }

    .ultChecker {
        display: flex;
        align-items: center;
        justify-content: center;
        .material-icons {
            color: $filterCheckBoxUnchecked;
            cursor: pointer;
        }
        
        &.ultChecked {
            .material-icons {
                color: $filterCheckBoxChecked;
            }
        }
    }

    .iconCenter {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            width: 20px;
            height: 20px;
            .messengerIcon {
                float: left;
            }
        }
    }

    .ultEditIcon {
        font-size: 20px;
        color: $iconPrimary;
        cursor: pointer;
    }

    .utlIconColumn {
        width: 32px;
    }
}

.messengerIcon {
    width: 20px;
    height: 20px;
    filter: grayscale(1);
    cursor: pointer;
    &:hover {
        filter: grayscale(0);
    }
}

.userFilterHeading {
    font-size: 18px;
    min-height: $standardHeight;
    line-height: $standardHeight;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .headingTitle {
        margin-right: 10px;
    }
}

.listFilterCon {
    display: inline-flex;
    float: left;
    margin: 5px 5px 5px 0;
    height: 26px;
    align-items: center;
    justify-content: center;
    background: $iconActive;
    color: #fff;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 12px;
    .filterValue {
        font-size: 12px;
        font-weight: bold;
        padding-left: 3px;
        padding-right: 5px;
    }
    .filterRemoveCheck {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .material-icons {
            font-size: 16px;
            height: 16px;
            width: 16px;
        }
    }
}

.userListControlCon {
    display: flex;

    .userListFilterCon {
        width: 100%;
        flex: 1;
    }
    
    .userListOptionCon {
        .uloButton {
            font-size: 14px;
            height: $standardHeight;
            line-height: $standardHeight;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: none;
            background: transparent;
            color: $secondaryText;
            cursor: pointer;

            .material-icons {
                font-size: 15px;
                margin-right: 8px;
            }
        }
    }
}

.segmentList {
    margin: 0;
    padding: 0;
    list-style: none;
    .segmentListItem {
        height: 50px;
        background: $secondaryBackground;
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;
        .segmentListName {
            display: block;
            height: $secondStandardHeight;
            line-height: $secondStandardHeight;
            color: $secondaryText;
        }
        &.selectedSegment,
        &:hover {
            .segmentListName {
                color: $secondaryHoverText;
                font-weight: bold;
            }
        }
    }
}