.userListRoot {
    padding: 15px $standardContentPadding;
    height: 100%;
    overflow: auto;
    .noContent {
        height: calc(100% - 41px);
    }
}

.filterButton {
    height: $standardHeight;
    line-height: $standardHeight;
    font-size: 14px;
    float: right;
    color: $secondaryText;
    cursor: pointer;
}

.userListTable {
    width: 100%;
    // .ultDateColumn {
    //     width: 125px;
    // }

    th.ultDateColumn .ultWrapper,
    th.utlSessinColumn .ultWrapper {
        @extend %flexCenter;
        cursor: pointer;
        .material-icons {
            margin-left: 3px;
            color: $secondaryText;
        }
    }

    .utlSessinColumn {
        width: 85px;
    }

    .utlCheckColumn {
        width: 50px;
    }

    .ultWrapper {
        height: $standardHeight;
        line-height: $standardHeight;
        font-size: 14px;
    }

    .ultChecker {
        @extend %flexJCenter;
        float: left;
        .material-icons {
            color: $filterCheckBoxUnchecked;
            cursor: pointer;
        }
        
        &.ultChecked {
            .material-icons {
                color: $filterCheckBoxChecked;
            }
        }
    }

    .iconCenter {
        @extend %flexJCenter;
        a {
            width: 20px;
            height: 20px;
            .messengerIcon {
                float: left;
            }
        }
    }

    .ultEditIcon {
        font-size: 20px;
        color: $iconPrimary;
        cursor: pointer;
    }

    .utlIconColumn {
        width: 32px;
    }
}

.messengerIcon {
    width: 20px;
    height: 20px;
    filter: grayscale(1);
    cursor: pointer;
    &:hover {
        filter: grayscale(0);
    }
}

.userFilterHeading {
    @extend %inlineFlexCenter;
    font-size: 18px;
    min-height: $standardHeight;
    line-height: $standardHeight;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .headingTitle {
        margin-right: 10px;
    }
}

.listFilterCon {
    @extend %inlineFlexJCenter;
    float: left;
    margin: 5px 5px 5px 0;
    height: 26px;
    background: $iconActive;
    color: #fff;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 12px;
    .filterValue {
        font-size: 12px;
        font-weight: bold;
        padding-left: 3px;
        padding-right: 5px;
    }
    .filterRemoveCheck {
        @extend %flexJCenter;
        cursor: pointer;
        .material-icons {
            font-size: 16px;
            height: 16px;
            width: 16px;
        }
    }

    &.segmentSection {
        background: $secondaryBackground;
        color: $defaultText;
    }
}

.userListControlCon {
    display: flex;

    .userListFilterCon {
        width: 100%;
        flex: 1;
    }
    
    .userListOptionCon {
        display: block;
        .uloButton {
            @extend %inlineFlexCenter;
            font-size: 14px;
            height: $standardHeight;
            line-height: $standardHeight;
            border: none;
            background: transparent;
            color: $secondaryText;
            cursor: pointer;

            .material-icons {
                font-size: 15px;
                margin-right: 8px;
            }
            
            @extend %figureFlexCenter;
            figure {
                margin-right: 8px;
                width: 15px;
            }
        }
    }
}

.segmentList {
    margin: 0;
    padding: 0;
    list-style: none;
    .segmentListItem {
        @extend %flexCenter;
        position: relative;
        height: 50px;
        background: $secondaryBackground;
        padding: 0 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;
        .segmentListName {
            display: block;
            height: inherit;
            line-height: 50px;
            color: $secondaryText;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        .segmentActionIcon {
            @extend %flexJCenter;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            top: 0;
            right: 0;
            height: 100%;
            background: $secondaryBackground;
            .saiWrapper {
                @extend %inlineFlexJCenter;
                @extend %figureFlexCenter;
                height: 100%;
                figure {
                    width: 35px;
                }
                .material-icons {
                    font-size: 18px;
                    color: $iconPrimary;
                }
                &:first-child {
                    margin-right: 10px;
                }
            }
        }

        &.selectedSegment,
        &:hover {
            .segmentListName {
                color: $secondaryHoverText;
                font-weight: bold;
                width: 100%;
            }
        }
        &:hover {
            .segmentActionIcon {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.segmentTitleCon {
    @extend %flexCenter;
    height: $secondStandardHeight;
    line-height: $secondStandardHeight;
    font-size: 13px;
    margin-bottom: 15px;
    
    .segmentTitleLabel {
        margin: 0;
        padding: 0;
    }

    .segmentTitleInput {
        height: 100%;
        margin-left: 10px;
        border: 1px solid $borderPrimary;
        border-radius: 5px;
        padding: 0 5px;
    }
}

.assignListRoot {
    margin: 0;
    padding: 0;
}

.assignList {
    @extend %flexCenter;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    height: $standardHeight;
    line-height: $standardHeight;
    background: $primaryChatBackground;
    border: 1px solid $borderPrimary;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
}

.editColumn {
    width: 64px;
}

.attrSelInput {
    &:focus + .attrKeySuggestCon {
        opacity: 1;
        visibility: visible;
    }
}

.attrKeySuggestCon {
    opacity: 0;
    visibility: hidden;
    position: relative;
    bottom: 0;
    border: 1px solid #e2e2e2;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
    &:hover {
        opacity: 1;
        visibility: visible;
    }

    ul {
        padding: 0;
        list-style: none;
        word-wrap: break-word;
        font-size: 12px;
        margin-bottom: 0;
        li {
            padding: 10px 5px;
            cursor: pointer;
            &:hover {
                background: rgba(0,0,0,0.2);
            }
        }
    }
}