
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color1: #c238eb;
$color2: #f7f6f6;
$color3: #c0c0c0;

$secondaryText: #aaaaaa;
$btnText1: $color1;
$inboxSelected: $color1;

$iconPrimary: #aaaaaa;
$iconActive: $color1;
$iconActiveBackground: #ffffff;
$primaryBackground: #ffffff;
$hoverBackground: #ebebeb;

$filterCheckBoxUnchecked: $color3;
$filterCheckBoxChecked: $color1;

$borderPrimary: #ebebeb;
$borderSecondary: $color1;

$primaryChatBlock: $color2;
$primaryChatBackground: $color2;
$secondaryChatBackground: $color2;
$inboxHover: $color2;
$secondaryBackground: $color2;

$actionBtn1: #72bb53;

$sidebarWidth: 72px;
$headerHeight: 72px;
$sidebarControlWidth: 352px;

$ProjectIconWidth: 34px;
$ProjectNavWidth: 20px;


$standardHeight: 36px;
$secondStandardHeight: 30px;
$tableStandardHeight: 30px;

$standardContentPadding: 30px;