
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color1: #c238eb;
$color2: #f7f6f6;
$color3: #c0c0c0;
$color4: #aaaaaa;
$color5: #ebebeb;
$color6: #ffffff;
$color7: #72bb53;
$color8: #000000;

$defaultText: $color8;
$secondaryText: $color4;
$activeText: $color1;
$secondaryHoverText: $color1;
$btnText1: $color1;
$inboxSelected: $color1;

$iconPrimary: $color4;
$iconActive: $color1;
$iconActiveBackground: $color6;
$primaryBackground: $color6;
$hoverBackground: $color5;

$filterCheckBoxUnchecked: $color3;
$filterCheckBoxChecked: $color1;

$borderPrimary: $color5;
$borderSecondary: $color1;

$primaryChatBlock: $color2;
$primaryChatBackground: $color2;
$secondaryChatBackground: $color2;
$inboxHover: $color2;
$secondaryBackground: $color2;

$actionBtn1: $color7;

$sidebarWidth: 72px;
$headerHeight: 72px;
$sidebarControlWidth: 352px;

$ProjectIconWidth: 34px;
$ProjectNavWidth: 20px;


$standardHeight: 36px;
$secondStandardHeight: 30px;
$thirdStandardHeight: 40px;
$tableStandardHeight: 30px;

$standardContentPadding: 30px;

%flexCenter {
    display: flex;
    align-items: center;
}

%flexJCenter {
    @extend %flexCenter;
    justify-content: center;
}

%flexCenterJSB {
    @extend %flexCenter;
    justify-content: space-between;
}

%inlineFlexCenter {
    display: inline-flex;
    align-items: center;
}

%inlineFlexJCenter {
    @extend %inlineFlexCenter;
    justify-content: center;
}

%boxBorder {
    border: 1px solid $borderPrimary;
    border-radius: 5px;
}

%inputboxBorder {
    @extend %boxBorder;
}

%standardInput {
    @extend %boxBorder;
    height: $standardHeight;
    line-height: $standardHeight;
    padding: 0 10px;
}

%figureFlexCenter {
    figure {
        @extend %flexJCenter;
        padding: 0;
        margin: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
}