
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~v-calendar/lib/v-calendar.min.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// material-icons
@import '~material-design-icons/iconfont/material-icons';

// scss
@import 'header';
@import 'template';
@import 'chatbot';
@import 'configuration';
@import 'inbox';
@import 'filter';
@import 'user';
@import 'popFixedContainer';
@import 'broadcast';
@import 'projectList';
@import 'ai';
@import 'non-member';
@import 'profile';

@font-face {
  font-family: 'project-font';
  src: url('./fonts/Rubik-Regular.ttf') format('truetype');
}

*:not(.material-icons) {
  font-family: 'project-font';
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

* {
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

figure {
  margin: 0;
  padding: 0;
}