.chatListContent {
    display: inline-block;
    width: 100%;
}

.chatListRoot {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid $borderPrimary;
    width: 260px;
    border-radius: 5px;
    > li:not(:last-child) {
        border-bottom: 1px solid $borderPrimary;
    }

    .delIcon {
        right: -10px;
    }
}

.chatListInfo {
    width: 100%;
    float: left;
}

.chatListInput {
    width: calc(100% - 75px);
    float: left;
    padding: 15px;
    input {
        width: 100%;
        margin-bottom: 5px;
        border-radius: 5px;
        border: none;
        box-shadow: none;
        font-size: 12px;
        padding: 3px 10px;
        &.required,
        &:focus {
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
            border: solid 1px rgba(0, 0, 0, 0.33);
        }
    }
    .listDisplayBox {
        width: 100%;
        margin-bottom: 5px;
        border-radius: 5px;
        border: none;
        box-shadow: none;
        font-size: 12px;
        padding: 3px 10px;
    }
}

.chatListImage {
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-right: 15px;
    float: left;
    figure {
        margin: 0;
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dotted $borderPrimary;
        border-radius: 5px;
        position: relative;
        .listItemImageCon {
            width: inherit;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .hoverOptions {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: -2px;
            left: -2px;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: rgba(50, 50, 50, 0.5);
            border-radius: inherit;
            .removeIcon {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: $iconActiveBackground;
                cursor: pointer
            }
        }
        label {
            margin: 0;
            padding: 0;
            width: inherit;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            input {
                display: none;
            }
        }

        &:hover {
            .hoverOptions {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.chatListButton {
    border-radius: 2px;
    border: solid 1px #e1e1e1;
    background: transparent;
    font-size: 11px;
    line-height: 1;
    color: #a6a6a6;
    padding: 4px 8px;
    font-weight: 500;
    width: auto;
    height: auto;
    margin-left: 6px;
    display: block;
    float: left;
    min-height: 22px;
    position: relative;
    cursor: pointer;
    &:hover {
        color: #448af2;
        border-color: #448af2;
    }
}

.galleListRoot {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    .draggable {
        display: flex;
    }
}

.galleAddMore,
.chatGalleryContainer {
    border: 1px solid $borderPrimary;
    border-radius: 5px;
    width: 260px;
    margin-right: 25px;
}

.chatGalleryContainer {
    position: relative;
}

.chatGalleryImage {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: 1px solid $borderPrimary;
    .imageCon {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    .hoverOptions {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: rgba(50, 50, 50, 0.5);
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        .removeIcon {
            width: calc(100%/3);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $iconActiveBackground;
            cursor: pointer
        }
    }
    label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        input {
            display: none;
        }
    }
    &:hover {
        .hoverOptions {
            opacity: 1;
            visibility: visible;
        }
    }
}

.chatGalleryContent {
    padding: 15px 15px 5px 15px;
    border-bottom: 1px solid $borderPrimary;
    .displayBox,
    input {
        width: 100%;
        margin-bottom: 5px;
        border-radius: 5px;
        border: none;
        box-shadow: none;
        font-size: 12px;
        padding: 3px 10px;
        &.required,
        &:focus {
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
            border: solid 1px rgba(0, 0, 0, 0.33);
        }
    }
}

.galleAddMore {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 260px;
    .addMoreGalleBtn {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 50px;
    }
}

.chatListRootButton {
    position: relative;
}

.chatListItem {
    position: relative;
}

.chatListItemDelIcon {
    top: calc(50% - 10px);
}

.listButtonDisplayBox {
    margin-left: 25px;
}

.limitListTitle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 11px;
    width: 15px;
    background: $themeColor;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
    width: auto;
    opacity: 0;
}

.limitGalleryTitle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 11px;
    width: 15px;
    background: $themeColor;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
    width: auto;
    opacity: 0;
}

.limitBtnTitle {
    color: #ffffff;
    position: absolute;
    right: 60px;
    font-size: 11px;
    top: 52px;
    background: #e2e;
    height: 17px;
    width: 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.galleLoader {
    width: 80px;
}

.galleListItem {
    position: relative;
}

.listRequired {
    &:not(.galleListItem) {
        border: 1px solid $red!important;
        &:first-child {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }
    }
    .chatGalleryContainer {
        border-color: $red!important;
    }
    &.galleListItem {
        .requiredNotiCon {
            left: 0;
            top: 100%;
            height: auto;
            margin-top: 14px;
            width: 260px;
            text-align: center;
            .requiredNotiText {
                &:before {
                    display: none;
                }
            }
        }
    }
    .requiredNotiCon {
        position: absolute;
        top: 0;
        left: calc(100% + 15px);
        width: 515px;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 11;
        .requiredNotiText {
            background: $red;
            color: #fff;
            font-size: 13px;
            font-weight: bolder;
            padding: 10px 20px;
            border-radius: 5px;
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                bottom: 50%;
                transform: translate(18px, 50%) rotate(45deg);
                background: $red;
                left: -23px;
                position: absolute;
            }
        }
    }
}

.requiredNotiCon {
    display: none;
}


.galleryDrag {
    left: initial;
    right: 0;
    top: 23px;
    border: 1px solid $borderPrimary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 22px;
    right: -2px;
    background: #fff;
    height: 22px;
    .material-icons {
        font-size: 18px;
        color: $iconPrimary;
        position: relative;
        right: -1px;
    }
}