.quickReplyRoot {
    padding-left: 0;
    display: flex;
}

.quickReplyRootContainer {
    height: 100px;
    padding-left: 30px;
    border-top: 2px dotted $borderPrimary;
    border-bottom: 2px dotted $borderPrimary;
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    min-width: 100%;
    & > li {
        margin-right: 15px;
        white-space: nowrap;
        position: relative;
        .quickReplyCapsule {
            cursor: pointer;
            height: 40px;
            padding: 0 20px;
            border: 1px solid $borderSecondary;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            max-width: 160px;
            flex-direction: column;
            flex: auto;
            &.qrAddMore {
                color: $secondaryText;
                border-color: $borderPrimary;
                flex-direction: row;
                .material-icons {
                    font-size: 18px;
                    margin-right: 3px;
                }
            }
            .quickReplyInfoBox {
                display: none;
                position: absolute;
                top: -2px;
                left: -2px;
                width: 200px;
                background: #fff;
                z-index: 15;
                border: 1px solid $borderPrimary;
                border-radius: 5px;
                width: 190px;
                padding: 10px 0;
                &.showInfoBox {
                    display: flex;
                    flex-direction: column;
                }

                & > div {
                    padding: 0 15px;
                }

                .QRActionName {
                    border-bottom: 1px solid $borderPrimary;
                    margin-bottom: 10px;
                    input {
                        border-radius: 40px;
                        color: $btnText1;
                    }
                }

                input {
                    height: 40px;
                    margin-bottom: 10px;
                    color: $secondaryText;
                    border: 1px solid $borderPrimary;
                    border-radius: 5px;
                    padding: 0 15px;
                    width: 100%;
                    font-size: 13px;
                    &.noMgb {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.quickReplyTitle {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 23px;
    line-height: 23px;
    color: $btnText1;
}

.quickReplyValue {
    height: 17px;
    flex: 1;
    font-size: 12px;
    line-height: 17px;
    color: $secondaryText;
}

.attributeNotice {
    font-size: 12px;
}